<VirtualHost *:8080>
    ServerAdmin webmaster@localhost
    ServerName {{ website_name }}.local
    DocumentRoot {{ website_path }}

    <Directory {{ website_path }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ website_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ website_name }}_access.log combined

    # Set ownership and permissions (optional, good practice)
    # This will not change ownership by itself, handle via Ansible
    # chown -R {{ website_owner }}:{{ website_group }} {{ website_path }}

</VirtualHost>
